<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <menu>
<a href="{% url "home" %}">Home</a>
{% if request.user.is_authenticated  %}
<div>WELCOME {{request.user}}!</div>

{% else %}
<a href="{% url "login" %}">Авторизация</a>
<a href="{% url "register" %}">Регистрация</a>
{% endif %}

  

     



    </menu>
    <main>
        {% block content %}
        
        {% endblock content %}
    </main>
</body>
</html>